@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/no-mobile.css";
@import "components/screen-header.css";
@import "components/player-component.css";
@import "components/nav-bar.css";
@import "components/badge.css";
@import "components/alt-screen-header.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/players.css";
@import "screens/selection.css";
@import "screens/players-wta.css";
@import "screens/comment.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

@font-face {
  src: url(../font/Neutra-Text_32171.ttf);
  font-family: "nadal-academy";
}

body {
  font-family: nadal-academy;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

#find-body {
  height: 100%;
  overflow-y: auto;
}
