#players-display-link {
  display: block;
  border-radius: 15px;
  text-align: center;
  padding: 15px 0px;
  font-size: 18px;
  margin: 10px 30px 30px 30px;
  color: white;
  font-weight: 600;
  background-color: #009cdb;
}
