.player-info {
  text-decoration: none;
}

.player-component {
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #273f6d;
}

.player-component,
.player-component__column:first-child {
  align-items: center;
  display: flex;
}

.player-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
}

.player-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.player-component__title {
  font-weight: 600;
  font-size: 23px;
  color: whitesmoke;
}

.player-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.player-component__column:last-child {
  margin-right: 10px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-component__column:last-child i {
  color: white;
}

.player-component__time {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  font-size: 16px;
  display: block;
}

.player-component__points {
  font-size: 20px;
  font-weight: 400;
  margin-right: 5px;
  color: white;
}
